* {
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#mainMenu {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10; /* Menü canvas'ın üstünde olacak */
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#projectTitle {
  font-size: 36px;
  margin-bottom: 20px; /* Başlık ile buton arasında boşluk */
}

.button-container {
  display: flex;
  justify-content: center;  /* Butonları ortalar */
  align-items: center;
  gap: 20px;  /* Butonlar arasında mesafe */
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

#myButton, #newButton {
  padding: 20px 20px;
  font-size: 24px;
  width: 200px;
  height: 60px;
  background-color: #DC143C;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}


#myButton:hover {
  background-color: #2980b9;
}


/* Görsel için stil */
#keplerImage {
  border-radius: 1px;
  margin-top: 20px; /* Görsel ile üst eleman arasındaki boşluk */
}

#musicButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 46px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100; /
  display: flex;
  align-items: center;
  justify-content: center;
}

#musicButton:hover {
  color: #DC143C; /* Hover efekti: renk değişimi */
}

#backTo {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 100px;
  font-size: 26px;
  background-color: #ffc909;
  border: none;
  cursor: pointer;
  z-index: 100; /
display: flex;
  align-items: center;
  justify-content: center;
}



#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  perspective: 1000px;
  z-index: 20; /* Menü canvas'ın üstünde olacak */

  overflow: hidden;
}

#scroll-text {
  color: #ffc909;
  font-size: 2vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  position: relative;
  animation: scroll 90s linear forwards;

  padding: 20px;
}

h1{
  text-align: center;
}

@keyframes scroll {
  from{ top: 0; transform: translateZ(0) rotateX(40deg) }
  to { top: -5000px; transform: translateZ(-2500px) rotateX(40deg) }
}




